<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="/stylesheets/homestyle.css">
    <script src="https://kit.fontawesome.com/9967fdd0f0.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">

</head>
<body>

    <button id="addnote">Add Note</button>
    <span id="logo">Notes</span>
    <div id="container">
        <!-- <div id="con1" class="defaultsize">    
            <div id="tool">
                <span id="notenumber">Note 1</span>
                <div id="icons">
                <i class="fa fa-floppy-o" aria-hidden="true" z-index="2"></i>
                <i class="fa-solid fa-trash"></i>
                </div>
            </div>
            <textarea></textarea>
        </div> -->
        
    </div>
</body>

<script src="/javascripts/home.js"></script>
</html>