<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">
</head>
<body>

    <div class="nav">
        <!-- Navbar content goes here -->
        <span id="logo">Notes</span>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About</a></li>

        </ul>
        <button id="signup"><a href="/signup">SignUp</a></button>
        <button id="login"><a href="/login">Login</a></button>
    </div>
    <div id="title">Welcome To Notes!</div>
    <div id="caption">
        <div id="caption1">Notes is an open source app created by</div>
    <div id="caption2" >two individuals that are in serious need for an internship</div>
    </div>
    <button id="bottombutt"><a href="/signup">Lets Go!!</a></button>
    

    <img  id="girl" src="/images/girl1.png" alt="">
    <img src="/images/boy1.png" id="boy" alt=""> 
    

    <!-- Other page content -->

</body>
</html>
